In [1]:
#import bibliotek
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.dummy import DummyClassifier

In [2]:
#dane Titanic
df = pd.read_csv('http://raw.githubusercontent.com/dataworkshop/titanic/master/vladimir/input/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
#zbior cech
feats = ['Pclass', 'Fare']
X = df[feats].values
y = df['Survived'].values

#zbior testowy , treningowy
X_train,X_test,y_train,y_test  = train_test_split(X,y,test_size=0.3)
X_train.shape,X_test.shape

((623, 2), (268, 2))

In [4]:
#model Dummy
model = DummyClassifier()
model.fit (X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test,y_pred)

0.5522388059701493

In [5]:
#model DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=20)
model.fit (X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test,y_pred)

0.7089552238805971

In [6]:
#model RandomForestClassifier
model = RandomForestClassifier(max_depth=10, n_estimators=50)
model.fit (X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test,y_pred)

0.7238805970149254

In [7]:
model = RandomForestClassifier(max_depth=10, n_estimators=50)
model.fit (X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test,y_pred)

0.6977611940298507

In [8]:
#factorize zamiana ciagu znakow na liczby np  male = 0, female = 1
df['Sex_cat'] = df['Sex'].factorize()[0]

In [9]:
#zbior cech o nowÄ… ceche Sex_cat
feats = ['Pclass', 'Fare','Sex_cat']
X = df[feats].values
y = df['Survived'].values

#zbior testowy , treningowy
X_train,X_test,y_train,y_test  = train_test_split(X,y,test_size=0.3)
X_train.shape,X_test.shape

((623, 3), (268, 3))

In [10]:
#model DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=20)
model.fit (X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test,y_pred)

0.8208955223880597